<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartoon-Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <img class="logo" src="<%= cartoonData.cartoonLogo.logo %>" alt="insta_logo">
        <h3>Choose your favourite cartoon here: </h3>
        <ul>
            <li><a href="http://localhost:8080/cartoon/shinchan">Shinchan</a></li>
            <li><a href="http://localhost:8080/cartoon/tomandjerry">Tom and Jerry</a></li>
            <li><a href="http://localhost:8080/cartoon/oggyandcockroaches">Oggy and the cockroaches</a></li>
        </ul>
</body>
</html>